DATABASE_URL=postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require
NEXT_PUBLIC_MSAL_CLIENT_ID=
NEXT_PUBLIC_MSAL_TENANT_ID=
NEXT_PUBLIC_ALLOWED_AUTH_EMAILS=user1@example.com,user2@example.com
NEXT_PUBLIC_PORTAL_ORIGINS=https://n-app-portal.netlify.app
